[submodule "MPAS-Model"]
	path = MPAS-Model
	url = git@github.com:MPAS-Dev/MPAS-Model.git
[submodule "ParallelIO"]
	path = ParallelIO
	url = git@github.com:NCAR/ParallelIO.git
[submodule "PnetCDF"]
	path = PnetCDF
	url = git@github.com:Parallel-NetCDF/PnetCDF.git
[submodule "CMake_Fortran_utils"]
	path = CMake_Fortran_utils
	url = https://github.com/CESM-Development/CMake_Fortran_utils
[submodule "genf90"]
	path = genf90
	url = https://github.com/PARALLELIO/genf90
